.wrapper {
  display: grid;
  margin: auto;
  width: 80%;
  height: 1100px;
  grid-template-rows: 1.5fr 7fr 1.5fr;
  grid-template-columns: 2.5fr 7.5fr;
  gap: 10px;
}

.wrapper>div {
  background-color: #000000;
  display: contents;
  justify-content: center;
}

#b1 {
  grid-row: 1/2;
  grid-column: 1/3;
  background-color: purple;
}

#b2 {
  grid-row: 2/3;
  grid-column: 1/2;
  background-color: purple;
}

#b3 {
  grid-row: 2/3;
  grid-column: 2/3;
  background-color: purple;
}

#b4 {
  grid-row: 3/4;
  grid-column: 1/3;
  background-color: purple;
}

