.flex_wrapper,
.flex_wrapper>div,
.flex_wrapper>div>div {
  display: flex;
  gap: 10px
}

.flex_wrapper {
  background: white;
  min-height: 1100px;
  width: 90%;
  margin: auto;
}

.left_container,
.right_container {
  flex-direction: column;
}

.left_container {
  flex: 2;
}

.right_container {
  flex: 1;
}

.ltop {
  flex: 2.1;
}

#ltsmall {
  flex-direction: column;
  flex: 1;
}

#ltbig {
  flex: 3;
}

.lcenter {
  flex: 2.6;
  flex-wrap: wrap;
  align-items: flex-start;
}

.lc {
  flex: 0 0 calc(25% - 7.5px);
  aspect-ratio: 1 / 1;
}

.lbottom {
  flex: 1.3;
}

.lb {
  flex: 1;
}

.rtop {
  flex: 1.4;
}

#rt {
  flex: 1;
}

.rcenter {
  flex: 2;
  flex-wrap: wrap;
}

.rc {
  flex: 1 0 45%;
}

.rbottom {
  flex: 2.6;
}

#rb {
  flex: 1;
}

.box {
  background-color: #d192d3;
  border-radius: 6px;
  display: flex;
  color: white;
  padding: 10px;
  box-sizing: border-box;
}


div:has(> img) {
  justify-content: center;
}

