@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'JetBrains Mono', monospace;
  font-size: 20px;
  background-color: #000000;
  margin: 0;
  padding: 20px;
}

.flex_wrapper,
.flex_wrapper>div,
.flex_wrapper>div>div {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.flex_wrapper {
  min-height: 1100px;
  width: 90%;
  margin: auto;
  padding: 10px;
}

.left_container,
.right_container {
  flex-direction: column;
}

#ltsmall {
  height: 450px;
  width: 280px;
}

#ltbig {
  width: 860px;
}

.lcenter {
  width: 1150px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.lc {
  height: 280px;
  width: 280px;

}

.lb,
#rt {
  width: 570px;
  height: 305px;
}


.rcenter {
  width: 570px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.rc {
  font-size: 0.9em;
  text-align: center;
  width: 280px;
  height: 135px;
}

#rb {
  flex-direction: column;
  overflow: scroll;
  height: 595px;
  width: 570px;
}

.box {
  background-color: #342f4d;
  border-radius: 6px;
  padding: 15px;
  color: white;
  justify-content: center;
}

.box:hover {
  background-color: #271f3d;
}

table {
  width: 100%;
  font-size: 0.8em;
}

th,
td {
  border: 2px solid #90f9f9;
  padding: 8px;
  text-align: left;
}

.table_1 tr:first-child {
  height: 60px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
  border-style: solid;
  border-color: #000000;
}

a {
  color: white;
}

a:hover {
  text-decoration: underline;
  color: #a2f2f0;
}

ul {
  padding: 20px;
}

.gradient {
  width: 100%;
  height: 8%;
  border-style: solid;
  border-radius: 2px;
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, purple);
}

#table_container {
  overflow: scroll;
  max-height: 180px;
  border-radius: 2px;
  border-style: solid;
  padding: 2px;
}

.lb p {
  font-size: 50px;
  text-align: center;
  opacity: 0.6;
}
