@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'JetBrains Mono', monospace;
  font-size: 20px;
  background-color: #000000;
  margin: 0;
  padding: 20px;
}

.grid_wrapper {
  display: grid;
  grid-template-columns: repeat(6, 280px);
  grid-template-rows: 305px 135px 135px 135px 135px 135px 305px;
  width: 90%;
  justify-content: center;
  margin: auto;
  gap: 10px;
}

.grid_wrapper>div {
  display: contents;
}

#ltsmall {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  height: 450px;
}

#ltbig {
  grid-column: 2 / 5;
  grid-row: 1 / 3;
  height: 450px;
}

#rt {
  grid-column: 5 / 7;
  grid-row: 1 / 2;
  height: 305px;
}

.lc:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 3 / 5;
}

.lc:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 3 / 5;
}

.lc:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 3 / 5;
}

.lc:nth-child(4) {
  grid-column: 4 / 5;
  grid-row: 3 / 5;
}

.lc:nth-child(5) {
  grid-column: 1 / 2;
  grid-row: 5 / 7;
}

.lc:nth-child(6) {
  grid-column: 2 / 3;
  grid-row: 5 / 7;
}

.lc:nth-child(7) {
  grid-column: 3 / 4;
  grid-row: 5 / 7;
}

.lc:nth-child(8) {
  grid-column: 4 / 5;
  grid-row: 5 / 7;
}

.lb:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 7 / 8;
}

.lb:nth-child(2) {
  grid-column: 3 / 5;
  grid-row: 7 / 8;
}

.rc:nth-child(1) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}

.rc:nth-child(2) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}

.rc:nth-child(3) {
  grid-column: 5 / 6;
  grid-row: 3 / 4;
}

.rc:nth-child(4) {
  grid-column: 6 / 7;
  grid-row: 3 / 4;
}

.rc:nth-child(5) {
  grid-column: 5 / 6;
  grid-row: 4 / 5;
}

.rc:nth-child(6) {
  grid-column: 6 / 7;
  grid-row: 4 / 5;
}

#rb {
  grid-column: 5 / 7;
  grid-row: 5 / 8;
  height: 595px;
}

.box {
  background-color: #342f4d;
  border-radius: 6px;
  padding: 15px;
  color: white;
  overflow: hidden;
  justify-content: center;
}

.box:hover {
  background-color: #271f3d;
}

.lc {
  height: 100%;
  width: 100%;
}

.lc img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

table {
  width: 100%;
  font-size: 0.8em;
}

th,
td {
  border: 2px solid #90f9f9;
  padding: 8px;
  text-align: left;
}

.table_1 tr:first-child {
  height: 60px;
}

img {
  object-fit: cover;
  border-radius: 2px;
  border-style: solid;
  border-color: #000000;
}

a {
  color: white;
}

a:hover {
  text-decoration: underline;
  color: #a2f2f0;
}

ul {
  padding: 20px;
}

.gradient {
  width: 100%;
  height: 30px;
  border-style: solid;
  border-radius: 2px;
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, purple);
}

#table_container {
  overflow: scroll;
  max-height: 180px;
  border-radius: 2px;
  border-style: solid;
  padding: 2px;
}

.lb p {
  font-size: 50px;
  text-align: center;
  opacity: 0.6;
}

.rc {
  font-size: 0.9em;
  text-align: center;
}

#rb {
  overflow: scroll;
}

