@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  font-family: "Ubuntu";
  font-size: 24px;
  background-color: #11111b;
  color: #cdd6f4;
}

::selection {
  background-color: #1e1e2e;
}

.bold {
  font-weight: bold;
}


.img_container,
.table_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.img_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 15px;
  padding: 20px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
}

.img_grid img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.img_grid h3 {
  grid-column: 1 / 4;
  text-align: center;
}

.img_container>img{
  max-width: 50%;
}


img {
  transition: box-shadow 0.3s ease;
}

img:hover {
  box-shadow: 10px 10px 15px #1e1e2e;
}


.wrapper {
  display: grid;
  margin: auto;
  padding: 10px;
  width: 80%;
  height: 1100px;
  grid-template-rows: 15% 70% 15%;
  grid-template-columns: 25% 75%;
  grid-template-areas: "b1 b1" "b2 b3" "b4 b4";
  gap: 5px;
  overflow: hidden;
}

.block {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  animation: fadeInUp 1.5s ease;
}

@keyframes fadeInUp {
  from {
    opacity: 0.8;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#b1 {
  justify-content: center;
  text-align: center;
  grid-area: b1;
  background-color: #313244;
}

#b2 {
  text-align: center;
  grid-area: b2;
  background-color: #45475a;
}

#b3 {
  grid-area: b3;
  background-color: #313244;
}

#b4 {
  justify-content: center;
  text-align: center;
  grid-area: b4;
  background-color: #313244;
}

p,
li,
a {
  line-height: 1.5em;
  overflow-wrap: break-word;
  padding: 20px;
}

#b2 ul {
  padding: 10px;
  list-style: none;
}

.t_highlight {
  background-color: #45475a;
}

.t_footer {
  font-size: 0.8em;
}

th,
td {
  text-align: left;
  padding: 10px 20px;
}

table {
  border: 3px solid #f9e2af;
  transition: box-shadow 0.3s ease;
}

table:hover {
  box-shadow: 10px 10px 15px #1e1e2e;
}

#b2 #nav {
  margin-bottom: 0;
  margin-top: 30px;
}

#b2 a {
  font-size: 1em;
  text-decoration: none;
  position: relative;
}


#selected a::before {
  content: "\21E8";
  margin-right: 12px;
  color: inherit;
  position: absolute;
  left: -20px;
  top: 15px
}

#b2 li:hover {
  transform: translateY(-10px);
  animation: fadeInUp_1 0.3s ease;
}

@keyframes fadeInUp_1 {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-10px);
  }
}

#b2 li:nth-child(1) a {
  color: #fab387;
}

#b2 li:nth-child(2) a {
  color: #f9e2af;
}

#b2 li:nth-child(3) a {
  color: #a6e3a1;
}

#b2 li:nth-child(4) a {
  color: #94e2d5;
}

#b3 p {
  margin-left: 20px;
}

#b3 ul {
  padding-left: 60px;
  padding-top: 0;
}

#b3 li {
  color: #cdd6f4;
}
