body {
  background-image: url('bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 10px;
  font-family: Arial, sans-serif;
}

.b {
  font-weight: bold;
}

.i {
  font-style: italic;
}

.u {
  text-decoration: underline;
}

div {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.9);
}

.block1 {
  float: left;
  width: 620px;
  max-height: 1020px;
  margin: 0 0 0 10px;
  padding: 0 12px;
  border: 4px solid red;
  font-family: 'Times New Roman', serif;
  font-size: 20px;
  color: #330000;
}

.block2 {
  float: left;
  width: 560px;
  height: 560px;
  margin: 0 0 0 23px;
  padding: 0 12px;
  border: 4px dashed blue;
  border-radius: 20px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #000066;
}

.block3 {
  float: right;
  width: 500px;
  height: 160px;
  margin: 5px 32px 30px 0;
  padding: 0 20px;
  border: 4px dotted green;
  font-family: Verdana, sans-serif;
  font-size: 10px;
  color: #003300;
}

.block4 {
  float: right;
  width: 400px;
  height: 800px;
  margin: 5px 32px 30px 0;
  padding: 0 20px;
  border: 4px double orange;
  font-family: Courier, monospace;
  font-size: 15px;
  color: #663300;
}

.block5 {
  display: block;
  clear: both;
  width: 900px;
  height: 300px;
  margin: 0 auto;
  padding: 10px;
  border: 4px groove purple;
  font-family: Georgia, serif;
  font-size: 13px;
  color: #330033;
}

table {
  margin: 40px 0 40px 20%;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.8);
}

td,
th {
  border: 5px solid black;
  width: 180px;
  height: 120px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}
