.fixed_container_1 {
  position: fixed;
  top: 0;
  width: 100%;
  height: 220px;
}

.fixed_container_2 {
  width: 100%;
  height: 220px;
  margin-top: 260px; 
}

.fixed_block_1,
.fixed_block_2 {
  margin: 10px;
}

.fixed_block_1 {
  float: right;
}

.fixed_block_2 {
  float: right; 
}

footer {
  padding: 100px;
  text-align: center;
}

img {
  width: 300px;
  height: 200px;
}

h3 {
  text-align: center;
}

p {
  margin-top: 10px;
}
